################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/obj/Debug
/packages
/bin
/AllowClipboardExtension/allowClipboardClient.js
/AllowClipboardExtension/allowClipboardContentScript.js
/AllowClipboardExtension/background.js
/AllowClipboardExtension/common.js
/AllowClipboardExtension/references.js
